.projects-page {
  display: bock;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 80px;
}

ul.projects-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80em;
  text-align: left;
  padding: 0px;
  margin: 0px;
  margin-left: calc(50% - 40em);
  list-style:none;
  min-height: 1000px;
}

li.project-list-item {
  width: 40%;
  margin-bottom:34px;
  height: calc(475px - 24px);
  border: 12px solid #332C23;
  background-color: #E6E6E9;
  border-radius: 8px;
}

li.project-list-item:nth-child(even){
  /*margin-left:120px;*/
}

li.project-list-item > a{
  display: block;
  text-decoration: none;
  color: #332C23;
  user-select: none;
  margin: -1px;
}

img.project-card-image {
  display: inline-block;
  vertical-align: top;
}

.project-card-title{
  display:inline-block;
  width: calc(100% - 200px - 16px);
  text-align: right;
  padding:8px;
  padding-top: 20px;
  font-size: 38px;
  height: calc(200px - 28px);
  background-color: #332C23;
  color: #E6E6E9;
}
.project-card-title>span{
  display: flex;
  height:100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-card-body {
  display: flex;
}

.project-card-description{
  width: 55%;
  padding: 5%;
  font-size: 23px;
  background-color: #E6E6E9;
  color: #332C23;
  max-height: 200px;
}

img.project-status-badge {
  margin-top: 140px;
  margin-left: 70px;
}

.ope {
  position: absolute;
  top: 500px;
  width: 99%;
  text-align: center;
  font-size: 80px;
}
