<div class="projects-page">
  <ul class="projects-list">
    <li class="project-list-item" data-test="projectDescription" *ngFor="let projectDescription of projectDescriptions$ | async">
      <a data-test="project" [routerLink]="['/article', { articleName: projectDescription.articleName }]">
        <img class="project-card-image" [src]="projectDescription.imagePath" width="200px" height="200px" />
        <div class="project-card-title" data-test="title"><span>{{ projectDescription.title }}</span></div>
        <div class="project-card-body">
          <div class="project-card-description" data-test="description">{{ projectDescription.shortDescription }}</div>
          <div class="project-status-badge-container">
            <img *ngIf="projectDescription.state == 'Released'"
              data-test="badge" width="100px" height="100px" class="project-status-badge" src="assets/project_completed_icon.png" alt="Released" />
            <img *ngIf="projectDescription.state == 'Abandoned'"
              data-test="badge" width="100px" height="100px" class="project-status-badge" src="assets/project_abandoned_icon.png" alt="Abandoned" />
            <img *ngIf="projectDescription.state == 'In Progress'"
              data-test="badge" width="100px" height="100px" class="project-status-badge" src="assets/project_in_progress_icon.png" alt="In Progress" />
            <img
              *ngIf="projectDescription.state != 'Released' && projectDescription.state != 'Abandoned' && projectDescription.state != 'In Progress'"
              data-test="badge" width="100px" height="100px" class="project-status-badge" src="assets/empty_project_icon.png" alt="no status" />
          </div>
        </div>
      </a>
    </li>
  </ul>
  <p *ngIf="noProjects" class="ope">Ope, none yet...</p>
</div>
