footer {
  padding: 50px 50px;
  margin: 0px;
  background-color: #332C23;
  display:flex;
}

.footer-box {
  flex: 1;
}
.footer-box + .footer-box{
  text-align: right;
}

.footer-name {
  font-size: 26px;
  color: #E6E6E9;
  display:block;
}

button.footer-email {
  background: none;
  border: none;
  color: #E6E6E9;
  font-size: 18px;
  padding: 0px;
  text-decoration: underline;
  display:block;
  user-select: none;
  cursor: pointer;
}

a.resume-download {
  background: #E6E6E9;
  border: none;
  color: #332C23;
  font-size: 18px;
  padding: 10px 12px;
  margin-top:10px;
  margin-bottom:20px;
  text-decoration: none;
  display:inline-block;
  user-select: none;
}

a.social-link {
    display: block;
    margin: 8px 0px;
    user-select: none;
}

/*Mobile*/
@media (max-width: 800px) {
  .footer-box {
    padding-left:50px;
  }
  .footer-box+.footer-box{
    padding-left: 0px;
    padding-right: 50px;
  }
  footer {
    padding: 40px 0px;
  }
  .footer-name {
    font-size: 22px;
    color: #E6E6E9;
    display:block;
  }

  button.footer-email {
    font-size: 15px;
  }
}
/*Midrange*/
@media (min-width: 801px) and (max-width: 1330px) {
  .footer-box {
    padding-left:50px;
  }
  .footer-box+.footer-box{
    padding-left: 0px;
    padding-right: 50px;
  }
}
