<footer>
  <div class="footer-box">
    <span data-test="myname" class="footer-name">Stephen Danowitz</span>
    <button data-test="myemail" title="Click To Copy" class="footer-email" (click)="copyToClipboard('steved@stevedprojects.com')">steved@stevedprojects.com</button>
    <a data-test="myresume" title="Click To Open" target="_blank" rel="noopener noreferrer" class="resume-download" href="https://docs.google.com/document/d/1v_bC0WbCQrj2Ix4gvp8jghbOVCgNFhcaiBsk_NiMgOo/edit?usp=share_link">View Resume</a>
  </div>

  <div class="footer-box">
    <a data-test="mygithub" class="social-link" href="https://github.com/LTSteve">
      <img width="32px" height="32px" src="assets/socialicons/GitHub-Mark-Light-32px.png" alt="github" />
    </a>
    <a data-test="mylinkedin" class="social-link" href="https://www.linkedin.com/in/stephen-danowitz-05485a66/">
      <img width="32px" height="32px" src="assets/socialicons/In-White-34.png" alt="linkedin" />
    </a>
    <a data-test="myyoutube" class="social-link" href="https://www.youtube.com/channel/UC3IARnAB7S0SUX6YfTmp4Ew">
      <img width="32px" height="32px" src="assets/socialicons/yt_logo_mono_dark.png" alt="youtube" />
    </a>
    <a data-test="mysoundcloud" class="social-link" href="https://soundcloud.com/heedlessnorseman">
      <img width="32px" height="32px" src="assets/socialicons/sc-logo-vertical-white.png" alt="github" />
    </a>
  </div>
</footer>
