<header class="app-header {{smol ? 'smol' : ''}}">
  <div class="logo-spacing">
    <a routerLink="/" routerLinkActive="active" data-test="logo" class="logo-link">
      <img src="assets/website_title.png" class="beeg-title"/>
      <img src="assets/website_logo.png" class="smol-title" />
    </a>
  </div>
  <ul data-test="filters" class="filters-container">
    <li class="{{currentFilter == '' ? 'highlighted' : ''}}"><a [routerLink]="['/home']" routerLinkActive="active" >All</a></li>
    <li class="{{currentFilter == 'Dev' ? 'highlighted' : ''}}"><a [routerLink]="['/home', { filter: 'Dev' }]" routerLinkActive="active" >Dev</a></li>
    <li class="{{currentFilter == 'Music' ? 'highlighted' : ''}}"><a [routerLink]="['/home', { filter: 'Music' }]" routerLinkActive="active" >Music</a></li>
    <li class="{{currentFilter == 'Games' ? 'highlighted' : ''}}"><a [routerLink]="['/home', { filter: 'Games' }]" routerLinkActive="active" >Games</a></li>
    <li class="{{currentFilter == 'Misc' ? 'highlighted' : ''}}"><a [routerLink]="['/home', { filter: 'Misc' }]" routerLinkActive="active" >Misc</a></li>
  </ul>
</header>
