<header class="app-header {{smol ? 'smol' : ''}}">
  <div class="logo-spacing">
    <a routerLink="/" routerLinkActive="active" data-test="logo" class="logo-link">
      <img src="assets/logo.png" class="beeg-title"/>
      <img src="assets/projectimg/site.png" class="smol-title" />
    </a>
  </div>
  <ul data-test="filters" class="filters-container">
    <li><button>All</button></li>
    <li><button>Dev</button></li>
    <li><button>Music</button></li>
    <li><button>Games</button></li>
    <li><button>Misc</button></li>
  </ul>
</header>
